# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ion SNAP Regtest
Icon=${SNAP}/ionqtregtestsnap.ico
MimeType=x-scheme-handler/ion;
Exec=ioncore.qt-regtest %u
Terminal=false
Comment=snap regtest
GenericName=Ion Digital Currency QT
Categories=X-Finance;X-Games;
Keywords=internet;ion;regtest;qt;crypto;currency;deb;launchpad;core;coin;snap;
