# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ion SNAP Testnet
Icon=${SNAP}/ionqttestnetsnap.ico
MimeType=x-scheme-handler/ion;
Exec=ioncore.qt-testnet %u
Terminal=false
Comment=snap testnet
GenericName=Ion Digital Currency QT
Categories=X-Finance;X-Games;
Keywords=internet;ion;testnet;qt;crypto;currency;deb;launchpad;core;coin;snap;
