# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ion SNAP
Icon=${SNAP}/ionqtsnap.ico
MimeType=x-scheme-handler/ion;
Exec=ioncore.qt %u
Terminal=false
Comment=snap main
GenericName=Ion Digital Currency QT
Categories=X-Finance;X-Games;
Keywords=internet;ion;main;qt;crypto;currency;deb;launchpad;core;coin;snap;
