# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Ion Core SNAP
Comment=main
GenericName=Ion Digital Currency QT client main network
Exec=ioncore.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/ion.ico
MimeType=x-scheme-handler/ion;
Categories=X-Finance;X-Games;
Keywords=internet;ion;xion;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
