# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.1.02
Encoding=UTF-8
Name=Ion Qt Regtest
Icon=${SNAP}/qt-regtest.ico
MimeType=x-scheme-handler/ioncore;
Exec=ioncore.qt-regtest %u
Terminal=false
Categories=Office;Finance;Games;
Comment=Ion Digital Currency QT Official release
Keywords=internet;ion;regtest;qt;crypto;currency;snap;snapcraft;ioncore;ioncoin;daemon;cli;qt;ioncoincore
