# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Ion Qt
Comment=Ion Digital Currency QT Official release
Exec=ion-qt %u
Terminal=false
Type=Application
Icon=ion128
MimeType=x-scheme-handler/ion;
Categories=Finance;Games;
Keywords=internet;ion;main;qt;crypto;currency;deb;launchpad;ioncore;ioncoin;ioncoincore;
