# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Ion Qt Testnet
Comment=testnet
GenericName=Ion Digital Currency QT
Exec=ion-qt --testnet %u
Terminal=false
Type=Application
Icon=iontestnet128
MimeType=x-scheme-handler/ion;
Categories=X-Finance;X-Games;
Keywords=internet;ion;testnet;qt;crypto;currency;deb;launchpad;core;coin;
