# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Ion Daemon
Comment=Main
GenericName=Ion Digital Currency Daemon
Exec=iond --regtest %u
Terminal=true
Type=Application
Icon=iond128
MimeType=x-scheme-handler/ion;
Categories=X-Finance;X-Games;
Keywords=internet;ion;regtest;crypto;currency;deb;launchpad;ioncore;ioncoin;daemon;ioncoincore;
