# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Ion Core Daemon
Comment=regtest
GenericName=Ion Digital Currency Daemon Client regression test network
Exec=iond %u
Terminal=true
Type=Application
Icon=iond_regtest128
MimeType=x-scheme-handler/ion;
Categories=X-Finance;X-Games;
Keywords=internet;ion;xion;core;wallet;daemon;regtest;deb;launchpad;crypto;digital;currency;coin;token;zerocoin;