# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Ion Core SNAP
Comment=regtest
GenericName=Ion Digital Currency QT client regression test network
Exec=ioncore.qt-regtest %u
Terminal=false
Type=Application
Icon=${SNAP}/ion_regtest.ico
MimeType=x-scheme-handler/ion;
Categories=X-Finance;X-Games;
Keywords=internet;ion;xion;core;wallet;qt;regtest;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
